// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// div{
// 	width: 100%;	
// 	.table-one {
// 		display: inline;
// 		width: 40%;
// 		thead {
// 			color: red;

// 		}
// 		tbody {
// 			color: blue;
// 		}

// 	}
	
.item-head {
	color:black;
	text-style: bold;
	text-align: center;
	text-transform: capitalize;
	padding: 10px 10px 25px 20px;
	text-align: left;
	position: relative;
}

.list {
	border-top: 1px solid black;
	// padding-bottom: 30px;
	// position: relative;
	// top: 36px;
}

.name {
	
	display: block;
	background: #f7f7f7;
	padding-left: 20px;
}

.namefirst {
	display: block;
	position: relative;
	// top: -355px;
	// left: 285px;
}

.machine {
	display: block;
	padding-left: 20px;
}

.machinefirst {
	position: relative;
	// top: -355px;
	// left: 285px;
}

.material {
	display: block;
	background: #f7f7f7;
	padding-left: 20px;
}

.materialfirst {
	position: relative;
	// top: -355px;
	// left: 285px;
}

.finish {
	display: block;
	padding-left: 20px;
}

.finishfirst {
	position: relative;
	// top: -355px;
	// left: 285px;	
}

.lead {
	display: block;
	background: #f7f7f7;
	padding-left: 20px; 
}

.leadfirst {
	position: relative;
	// top: -355px;
	// left: 285px;
}

.additional {
	display: block;
	padding-left: 20px;
}

.additionalfirst {
	position: relative;
	// top: -360px;
	// left: 285px;
}

.sap {
	position: relative;

	// top: -290px;
	// left: 500px;
}

.num {
	position: relative;
	top: -320px;
	left: 775px;
}

.rb {
	position: relative;
	top: -350px;
	left: 1050px;
}

.item {
	th {
		color:black;
		text-style: bold;
		text-align: center;
		text-transform: capitalize;
		padding: 10px 10px 25px 20px;
	}
	td {
		color:black;
		padding: 10px 10px 25px 20px;
		text-align: center;
		position: relative;
		
	}
}











// .table-two {
// 	display: block;
// 	width: 60%;
// 	thead {
// 		font-style: italic;
// 		th {
// 			text-align: center;
// 			border: 1px solid black;
// 		}
// 	}
// 	tbody {
// 		td {
// 			width: 20%;
// 			text-align: center;
// 			border: 1px solid black;
			
// 		}
// 	}
// }

// .description {
// 	text-align: center;
// 	width: 100%;
// 	color: black;
// 	border-bottom: 1px solid black;
// 	// padding-left: 9%;
// 	font-style: bold;
// }

// .table-three {
// 	padding-left: 9%;
// 	width: 100%;
// 	thead {
// 		color: blue;
// 	}
// }



