h1.navbar {
	color: #9494b8;
	font-size:10px;
}
hr.navbar { 
	
	border: 1px solid #00cccc;

	
}

h3.navbar{
	color: #9494b8;
	font-size: 25px;
}

	h2.navbar {
		color: #9494b8;
		font-size: 10px;
		position: relative;
		float: right;
		top: -100px;
		// top:-15px;
		font-size: 15px;
	}
